[submodule "ros2_ws/src/realsense_ros"]
	path = ros2_ws/src/realsense_ros
	url = https://github.com/LesterLiou/realsense-ros.git
[submodule "repos/lerobot"]
	path = repos/lerobot
	url = https://github.com/LesterLiou/lerobot.git
	branch = lerobot-system
[submodule "ros2_ws/src/koch_tactile_ros2"]
	path = ros2_ws/src/koch_tactile_ros2
	url = https://github.com/LesterLiou/koch_tactile_ros2.git
[submodule "repos/koch_tactile"]
	path = repos/koch_tactile
	url = https://github.com/LesterLiou/Tactile.git
[submodule "repos/koch_robot_unity"]
	path = repos/koch_robot_unity
	url = git@github.com:hrc-pme/koch_robot_unity.git
	branch = dev
[submodule "repos/openarm_dev"]
	path = repos/openarm_dev
	url = git@github.com:hrc-pme/openarm_dev.git
